@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-img{
    background-image: url("../components/assets/images/image10.webp");
}
.promo-1{
    background-image: url("../components/assets/images/Festive\ \(1\).webp");
}
.promo-2{
    background-image: url("../components/assets/images/promo3.webp");
}